.coin {
  &__section {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 16px;
  }

  &__panel {
    --bg-clr-0: rgb(23, 191, 197) -20%;
    --bg-clr-1: rgb(12, 98, 156) 10%;
    --bg-clr-2: rgb(9, 49, 124) 50%; // previous
    --bg-clr-3: rgb(85, 16, 112) 100%;
    
    --bg: linear-gradient(
      -45deg, 
      var(--bg-clr-0),
      var(--bg-clr-1),
      var(--bg-clr-2),
      var(--bg-clr-3)
    );

    background-image: var(--bg);
    box-shadow: 0 4px 15px rgb(0, 0, 0, 1);

    display: grid;
    grid-template: 1fr / 1fr;

    overflow: hidden;
    position: relative;

    &-video, 
    &-overlay, 
    &-content {
      grid-area: 1 / 1;
    }
    
    &-video, 
    &-overlay, 
    &-content {
      grid-area: 1 / 1;
    }
    
    &-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // z-index: 0;
      pointer-events: none;
      overflow: hidden;

      & iframe {
        width: 100vw;
        height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
        min-height: 100vh;
        min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &-overlay {
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right, rgb(2, 19, 21) 0%, rgba(0, 0, 0, 0) 120%);
      z-index: 1;
    }
      
    &-content {
      padding: 16px;
      // padding-right: max(50px, 30%);
      z-index: 2;

      @media screen and (min-width: 350px) {
        padding: 30px;
      }
    }

    &-button {
      margin: 20px 0 0;
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 30px;
  }
  &__list-item {
    padding: 6px 16px;
    position: relative;
    margin-bottom: 6px;
    font-size: .8rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.2;
    
    &:hover:before {
      opacity: 1;
    }
    
    &:before {
      position: absolute;
      content: " ";
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background: var(--color-accent-pink);

      opacity: .4;
      will-change: opacity;
      transition: opacity .2s;
    }
  }

  &__image {
    height: 100%;
  }
}

