
.contact-heading {
  margin: 4rem 0;
  text-align: center;
  font-family: var(--font-primary);
}

.form-wrapper {
  padding: 3rem 20rem ;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.contact-form {
flex: 0 0 45%;


}

.form-submit-button {
  background-color: var(--color-accent-yellow);
  width: 100%;
  font-family: var(--font-primary);
  color: var(--font-color);
  margin: 0;
  &:hover {
   box-shadow: none;
  }

  &:disabled {
    color: rgb(0, 0, 0, .6);
    background: var(--clr-bg);
    cursor: not-allowed;
    pointer-events: none;
  }

  @media screen and (max-width: 500px) {
    min-width: 160px;
  }
}

.form-content {
  & label {
    font-size: 0.875rem;
    font-family: var(--font-primary);
    color: var(--font-color);
    margin-bottom: .5rem;
  }

  & input {
    background: white;
    padding: 4px 12px;
    color: var(--color-navy);
    border-radius: 6px;
    height: 50px;
  }
}

.form-subheading {
  font-size: 1.25rem;
  font-family: var(--font-primary);
  color: var(--font-color);
  margin-bottom: 3rem;
  position: relative;
  &::before {
    background: var(--color-accent-yellow);
    border-radius: 3px;
    bottom: -10px;
    content: " ";
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    width: 60px;
  }
}

.contact-details {
flex: 0 0 45%;
}

.contact-details-text {
  font-family: var(--font-primary);
  color: var(--font-color);
  margin-bottom: 3rem;
  font-size: 0.8rem;
  line-height: 2rem;
}

.contact-detail-item {
display: flex;
  align-items: center;
  margin-bottom: 2rem;
  & .icon {
    width: 30px;
    height: 30px;
  }

  & p {
    margin-left: 1rem;
    font-family: var(--font-primary);
    color: var(--font-color);
    font-size: 0.75rem;
    line-height: 2rem;
  }
}

.options-label {
  font-size: 0.875rem;
  font-family: var(--font-primary);
  color: var(--font-color);
  margin-bottom: 1rem;
}

.option-group {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;

  & label {
    display: flex;
    align-items: center;

    &:last-child {
      margin-left: 20px;
    }

    & input {
      width: 20px;
      height: 20px;
      margin-right: 1rem;
    }
  }
}