.form {
  &__group {
    display: flex;
    flex-direction: column;
    width: 100%;

    &.form__error {
      & .form__label {
        color: var(--color-font-error) !important;
      }

      & .form__input {
        border-color: var(--color-font-error) !important;
      }
    }
  
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__label {
    margin-bottom: 10px;
    color: var(--color-font-grey-100);
    transition: color .3s;
  }

  &__input {
    border-radius: none;
    border: none;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 8px;
    background: none;
    color: #fff;
    border-bottom: {
      color: #fff;
      style: solid;
      width: 1px;
    }

    transition: border-color .3s;

    &:focus {
      outline: none;
      border-color: var(--color-accent-yellow);
    }
  }

  &__helper-text {
    font-size: 0.8rem;
    margin-bottom: 10px;
    line-height: 1.5;
  }
  
  &__error {
    color: var(--color-font-error);
  }

  &__global-error {
    border-left: 2px solid var(--color-font-error);
    padding: 3px 0 3px 10px;
    margin-top: 14px
  }
}