.gradient-text {
  --gradient: var(--grad-1);

  background-image: var(--gradient,#fff);
  background-size: 100%;
  background-repeat: repeat;

  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;

  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  // text-shadow: 0 0 80px rgb(255, 255, 255);

  &.variant {
    &-1 { --gradient: var(--grad-1); }
    &-2 { --gradient: var(--grad-2); }
    &-3 { --gradient: var(--grad-3); }
    &-4 { --gradient: var(--grad-4); }
    &-5 { --gradient: var(--grad-5); }
    &-6 { --gradient: var(--grad-6); }
  }
}

.text-center {
  text-align: center;
}

.inline-grad-text {
  @extend .gradient-text;

  font-weight: 700;
  display: inline;
}